body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.navi-liste {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: #222;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 8px;
}

.navi-liste li {
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 8px;
}

.navi-liste li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
}

.navigation button {
  display: none;
}

@media screen and (max-width: 430px) {
  .navi-liste {
    display: block;
  }
  .navi-liste li {
    background-color: #222;
    margin: 0px;
  }
  .navigation button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    border: #222 2px solid;
    background-color: white;
    color: black;
    font-size: inherit;
    display: block;
    margin: 10px;
    padding: 0px;
    
  }
  .navigation ul {
    display: none;
  }
  [aria-expanded='true'] ~ ul {
    display: block;
  }
}

div {
  text-align: center;
  height: fit-content;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.eins {
  background-color: #063970;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: cornflowerblue;
  font-size: 50px;
}

.zwei {
  background-color: white;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 30px;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 500px) {
  img {
    width: 80%;
    height: auto;
  }

  .seite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.pod_seite {
  background-image: url('https://media.istockphoto.com/id/1127258407/de/vektor/dschungel-hintergrund-tropische-bl%C3%A4tter-rahmen-regenwald-blattpflanzen-gr%C3%BCnen-rasen-b%C3%A4ume.jpg?s=1024x1024&w=is&k=20&c=qi34W_EUMfhmSu0Xt4PBIhEEEd9HT60siiW48rtZkJc=');
  background-size: cover;
}

.pods_bilder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}